@using Microsoft.AspNet.Identity
@model _1811061037_PhamDangMinhTriet_BigSchool.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Following page";
}

<!DOCTYPE html>
<div class="row">
    <ul class="course">
        @foreach (var follow in Model.UpcommingCourses)
        {
            <li>
                <div class="details">
                    <span class="lecturer">
                        @follow.Lecturer.Name
                    </span>
                </div>
                    <a href="#" class="js-unfollow" data-follower-id="@follow.Lecturer.Followers">UnFollow</a>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script>
        $(".js-unfollow").click(function (e) {
            e.preventDefault();
            var link = $(e.target);
            bootbox.confirm("Are you sure to cancel?", function () {

                $.ajax({
                    url: "/api/followings/" + link.attr('data-follower-id'),
                    method: "DELETE"
                }).done(function () {
                    link.parents("li").fadeOut(function () {
                        this.remove();
                    });
                }).fail(function () {
                    alert("Something failed");
                });

            });
        });
    </script>
}
